{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Item {{ item.title }}</h1>
    <p>{{ item.id }}. {{ item.title }}</p>
    <div class="display">
    <a href="/item/edit/{{ item.id }}" class="btn btn-outline-primary">Modifier</a>
    <form action="/item/delete/{{item.id}}" method="POST">
        <button class="btn btn-outline-danger ">Supprimer</button>
    </form>
    <a href="/item/index" class="btn btn-outline-dark ">Retour</a>
    </div>
{% endblock %}
