{% extends 'layout.html.twig' %}

{% block content %}
    <div class="bg bg-light p-4">
        <h1>Artilce {{ blogpost.Titre }}</h1>
        <p>{{ blogpost.ID }}. {{ blogpost.Titre }}</p>
        <p> {{ blogpost.Chapo }}</p>
        <h2>Contenu</h2>
        <p> {{ blogpost.Contenu }}</p>
        <p class="text-muted"><strong>Auteur:</strong> {{ blogpost.Auteur }}</p>
        <p class="text-muted"><strong>Mise à jour le </strong>: {{ blogpost.Date_creation|date('d-m-Y H:i:s') }}</p>
        <hr>
        {#  <a href="#" class="btn btn-primary">Commenter</a>#}
        {# ici commence accordion #}
        <div class="accordion " id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        <a href="#" class="btn btn-danger"><i class="far fa-comments"></i> poster un commentaire</a>
                    </button>

                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        {# ici le formulaire commentaire #}
                        {% include 'Home/comments/_form.html.twig' %}
                        {# fin formulaire commentaire #}
                    </div>
                </div>
            </div>
        </div>
        {# ici fini accordion #}

        {# affichage des commentaires postés #}
        <hr>
        <div>
            <strong class="text-bold">Commentaire.s</strong><small class="badge bg-danger">({{comments|length}})</small>
        </div>
        <br>
 {% for comment in comments %}
     <div class="border  p-2">
         <i class="fa fa-angle-double-left text-muted"></i> {{ comment.contenu }} <i class="fa fa-angle-double-right text-muted"></i>
         <hr class="w-25 text-danger">
         <span><i class="fas fa-user-circle"></i></span>{{ comment.nom}} {{ comment.prenom }}<br>
         <span class="text-muted pt-2"><i class="far fa-calendar-alt"></i> {{ comment.Date_creation|date('d-m-Y H:i:s') }} </span>
     </div>
     <br>
     {% else %}
         <p class="text-muted">Aucun commentaire sur cet article actuellement :-)</p>
  {% endfor %}

    </div>
{% endblock %}
