{% extends 'layout.html.twig' %}

{% block content %}
    <div class="bg bg-light p-4">
        <h1>Artilce {{ blogpost.Titre }}</h1>
        <p>{{ blogpost.ID }}. {{ blogpost.Titre }}</p>
        <p> {{ blogpost.Chapo }}</p>
        <h2>Contenu</h2>
        <p> {{ blogpost.Contenu }}</p>
        <p><strong>Crée le</strong>: {{ blogpost.Date_creation|date('d-m-Y H:i:s') }}</p>
       {#  <div class="inline-button">
            <a href="/blogpost/edit/{{ blogpost.ID }}" class="btn btn-outline-primary">Modifier</a>
            <form action="/blogpost/delete/{{blogpost.ID}}" method="POST">
                <button class="btn btn-outline-danger ">Supprimer</button>
            </form>
            <a href="/blogpost/index" class="btn btn-outline-dark ">Retour</a>
        </div>#}
    </div>
{% endblock %}
